---
import { CardHeader, CardProjects, CardExp } from "@atomic/index";
import { Svgs } from "@widget/index";
import type { PageLayoutProps } from "@libs/index";
const { title, subTitle, nameSvg,textButton } = Astro.props as PageLayoutProps;
---
<div>
    <article class="card-header" id="cardHeader">
        <CardHeader title={title} subTitle={subTitle} />
    </article>
    <article>
        <div class="chevron-down-div">
          <Svgs nameSVG={nameSvg} className={nameSvg} />
        </div>
      </article>
    <article class="card-projects">
        <CardProjects text={textButton} className="cardProjects" />
    </article>
    <article>
      <CardExp />
    </article>
</div>