---
import { CardHeader, CardProjects, CardExp } from "@atomic/index";
import { CardHeaderRef, Svgs } from "@widget/index";
import type { PageLayoutProps, UseVisibilityTriggerOptions } from "@libs/index";
const { title, subTitle, nameSvg, textButton, titleBack, titleExp, titleApro } = Astro.props as PageLayoutProps;
---
<div>
 <article class="card-header">
  <CardHeader title="DYLAN MARCANO" subTitle="ksdfjakdlsfj" />
  <CardHeaderRef client:load/>
 </article>
 <article>
  <div class="chevron-down-div">
   <Svgs nameSVG={nameSvg} className={nameSvg} />
  </div>
 </article>
 <article class="card-projects">
  <CardProjects text={textButton} className="cardProjects" />
 </article>
 <article class="card-experience">
  <CardExp title1={titleBack} title2={titleExp} title3={titleApro} className="card-exp"/>
 </article>
</div>
